# First print your name in the cell below then save this file. (or something nice about your instructor)

In [632]:
# In this cell print your name 
print('Mouhamadou Diallo')

Mouhamadou Diallo

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [634]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [636]:
# Load data here
df = pd.read_csv('data/listings.csv')
print(df.head())

     id                                               name  host_id  \
0  2595                              Skylit Midtown Castle     2845
1  3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2  5121                                    BlissArtsSpace!     7356
3  5136           Spacious Brooklyn Duplex, Patio + Garden     7378
4  5178                   Large Furnished Room Near B'wayã€€     8967

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0     Jennifer           Manhattan             Midtown  40.75362  -73.98377
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
3      Rebecca            Brooklyn         Sunset Park  40.66120  -73.99423
4     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt    175               3                 48  2019-11-04
1  Entire home/apt     75               1                340  2020-08-01
2     Private room     60              29                 50  2019-12-02
3  Entire home/apt    175              14                  1  2014-01-02
4     Private room     65               2                473  2020-03-15

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.37                               2               365
1               4.75                               1               265
2               0.37                               1               365
3               0.01                               1               295
4               3.44                               1               340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [638]:
# 1. How many listings are there with a price less than 100? 
dfless = df[df['price'] < 100]
number_Listings = dfless.shape[0]
print(number_Listings)

22778

In [639]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk = df[df['neighbourhood_group'] == 'Brooklyn']

In [640]:
df_bk_Listings = df_bk.shape[0]

In [641]:
print(df_bk_Listings)

18632

In [642]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
bk_less = df_bk[df_bk['price'] < 100]
bk_less_numb = bk_less.shape[0]
print(bk_less_numb)

10473

In [643]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

total = df['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])
print(total)

0        False
1        False
2        False
3        False
4        False
         ...
46522    False
46523    False
46524    False
46525    False
46526    False
Name: host_name, Length: 46527, dtype: bool

In [644]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
df['adjusted_price'] = df[df['neighbourhood_group'] == 'Brooklyn']['price'] + 100

In [645]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
private = df[df['room_type'] == 'private'].value_counts()
shared = df[df['room_type'] == 'shared'].value_counts()
private_rooms = private / (private + shared)
shared_rooms = shared / (private + shared)

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [647]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

Listings_by_neighbourhood = df.groupby(['neighbourhood_group'])['neighbourhood_group'].count()
print(Listings_by_neighbourhood)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: neighbourhood_group, dtype: int64

In [648]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
mean = df.groupby(['neighbourhood_group'])['price'].mean()
print(mean)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [649]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
room_type_mean = df.groupby('room_type')
the_mean = room_type_mean['price'].mean()
print(the_mean)

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [650]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
neighbourhood_stats = df.groupby(['neighbourhood_group'])['price'].agg(['min', 'max'])
print(neighbourhood_stats)

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [651]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

room_type_neighbourhood = df.groupby(['neighbourhood_group', 'room_type'])['price'].mean()
print(room_type_neighbourhood)

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [652]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
room_stats = room_type_neighbourhood.agg(['count', 'min', 'max', 'mean', 'median', 'std'])

print(room_stats)

count      18.000000
min        46.000000
max       292.515670
mean      122.325230
median    120.006076
std        64.774852
Name: price, dtype: float64

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [654]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices = pd.read_csv('data/prices.csv')
n_listings = pd.read_csv('data/n_listings.csv')

In [655]:
# 2. Do join that keeps all the records for each table.

final =prices.join(n_listings)

In [656]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
final.to_csv('joined.csv')

In [657]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
loaded = pd.read_csv('joined.csv')
print(loaded.head())

   Unnamed: 0 neighbourhood_group   mean_price neighbourhood_group;n_listings
0           0               Bronx    92.751479                     Bronx;1183
1           1            Brooklyn   120.225258                 Brooklyn;18632
2           2           Manhattan   191.880466                Manhattan;20580
3           3              Queens    99.754965                LongIsland;4121
4           4       Staten Island   110.947214                            NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.