# First print your name in the cell below then save this file. (or something nice about your instructor)

In [ ]:
# In this cell print your name 
print("Muhammed Cheema")

Muhammed Cheema

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [ ]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [2]:
# Load data here
import pandas as pd
df = pd.read_csv("data/listings.csv")

print(df.head())

     id                                               name  host_id  \
0  2595                              Skylit Midtown Castle     2845
1  3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2  5121                                    BlissArtsSpace!     7356
3  5136           Spacious Brooklyn Duplex, Patio + Garden     7378
4  5178                   Large Furnished Room Near B'wayã€€     8967

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0     Jennifer           Manhattan             Midtown  40.75362  -73.98377
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
3      Rebecca            Brooklyn         Sunset Park  40.66120  -73.99423
4     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt    175               3                 48  2019-11-04
1  Entire home/apt     75               1                340  2020-08-01
2     Private room     60              29                 50  2019-12-02
3  Entire home/apt    175              14                  1  2014-01-02
4     Private room     65               2                473  2020-03-15

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.37                               2               365
1               4.75                               1               265
2               0.37                               1               365
3               0.01                               1               295
4               3.44                               1               340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [3]:
# 1. How many listings are there with a price less than 100? 
import pandas as pd
df = pd.read_csv("data/listings.csv")

count = 0

for i in df["price"]:
    if i < 100:
        count += 1

print(f"There are {count} listings with a price less than 100.")

There are 22778 listings with a price less than 100.

In [6]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

import pandas as pd
df = pd.read_csv("data/listings.csv")

df_bk = df[df["neighbourhood_group"] == "Brooklyn"]
total_listings = df_bk.shape[0]
print(f"{total_listings} are in Brooklyn")

18632 are in Brooklyn

In [7]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

import pandas as pd
df = pd.read_csv("data/listings.csv")
df_bk = df[df["neighbourhood_group"] == "Brooklyn"]

count = 0
for i in df_bk["price"]:
    if i < 100:
        count += 1

print(f"There is a total of {count} houses priced at less than 100")

There is a total of 10473 houses priced at less than 100

In [10]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

import pandas as pd

df = pd.read_csv("data/listings.csv")
#creates a new filtered df with these conditions
names = df[df["host_name"].isin(["Michael", "David","John","Daniel"])]
count = names.shape[0]

print(f"there is a total of {count} hosts with those names")

there is a total of 1258 hosts with those names

In [17]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

import pandas as pd
import numpy as np

df = pd.read_csv("data/listings.csv")

df["adjusted_price"] = np.where(df["neighbourhood"] == "Williamsburg", df["price"] + 100, df["price"])

print(df["adjusted_price"])

0        175
1         75
2         60
3        175
4         65
        ...
46522    145
46523     87
46524     59
46525     80
46526     66
Name: adjusted_price, Length: 46527, dtype: int64

In [18]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

import pandas as pd

df = pd.read_csv("data/listings.csv")

#total amount of rooms in the listings
total = df.shape[0]


#count of private rooms
private_rooms = df[df["room_type"] == "Private room"].shape[0]

#count of shared rooms
shared_rooms = df[df["room_type"] == "Shared room"].shape[0]

#percentage of private rooms
private_rooms_percentage = (private_rooms / total) * 100
shared_rooms_percentage = (shared_rooms / total) * 100

print(f"Private rooms make up {private_rooms_percentage:.2f}% of the total listings.")
print(f"Shared rooms make up {shared_rooms_percentage:.2f}% of the total listings.")

Private rooms make up 45.44% of the total listings.
Shared rooms make up 2.12% of the total listings.

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [25]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

import pandas as pd

df = pd.read_csv("data/listings.csv")

count_listings = df.groupby("neighbourhood_group").size()

print(count_listings)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [27]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
import pandas as pd

df = pd.read_csv("data/listings.csv")

mean_price = df.groupby("neighbourhood_group")["price"].mean()

print(mean_price)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [29]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
import pandas as pd

df = pd.read_csv("data/listings.csv")

mean_price_room = df.groupby("room_type")["price"].mean()

print(mean_price_room)

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [33]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


import pandas as pd

df = pd.read_csv("data/listings.csv")

min_max_prices = df.groupby("neighbourhood_group")["price"].agg(["min","max"])

print(min_max_prices)

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [34]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

import pandas as pd

df = pd.read_csv("data/listings.csv")

min_max_prices = df.groupby(["neighbourhood_group","room_type"])["price"].agg(["min","max"])

print(min_max_prices)

                                     min    max
neighbourhood_group room_type
Bronx               Entire home/apt   25   1404
                    Private room      16    700
                    Shared room       20    800
Brooklyn            Entire home/apt   20  10000
                    Hotel room         0    399
                    Private room      10   2500
                    Shared room       15   1500
Manhattan           Entire home/apt    0  10000
                    Hotel room         0   2211
                    Private room      10  10000
                    Shared room       10  10000
Queens              Entire home/apt   10  10000
                    Hotel room         0    249
                    Private room      18   9000
                    Shared room       14   3000
Staten Island       Entire home/apt   39   1200
                    Private room      20    800
                    Shared room       19     82

In [35]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

import pandas as pd

df = pd.read_csv("data/listings.csv")

min_max_prices = df.groupby(["neighbourhood_group","room_type"])["price"].agg(["count","min","max","mean","median","std"])

print(min_max_prices)

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

import pandas as pd

df1 = pd.read_csv("data/prices.csv")
df2 = pd.read_csv("data/n_listings.csv")

In [42]:
# 2. Do join that keeps all the records for each table.

import pandas as pd

df1 = pd.read_csv("data/prices.csv")
df2 = pd.read_csv("data/n_listings.csv", sep =';')

results = pd.merge(df1,df2,on = 'neighbourhood_group', how='outer')

print(results)

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [43]:
# 3. Save your joined csv as `joined.csv` into the data folder. 

import pandas as pd

# Load the CSV files
df1 = pd.read_csv("data/prices.csv")
df2 = pd.read_csv("data/n_listings.csv", sep=';')

# Perform a full outer join on the 'neighbourhood_group' column
results = pd.merge(df1, df2, on='neighbourhood_group', how='outer')

# Save the resulting DataFrame to a new CSV file
results.to_csv("data/joined.csv", index=False)

# Optionally print the resulting DataFrame to verify
print(results)

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [44]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
import pandas as pd

df = pd.read_csv("data/joined.csv")

print(df)

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.